:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --the-third-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --the-third-background-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

/* ===== COMPONENTS ===== */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-footer {
  color: var(--the-third-text-color);
}

.header-logo {
  color: #000000;
}

.button-hero {
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
}

.button-portfolio {
  color: var(--primary-text-color);
  background-color: var(--the-third-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--the-third-text-color);
}
/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.header {
  background-color: var(--main-background-color);
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-link .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.address-link .link:hover,
.address-link .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* ===== END HEADER ===== */

/* ===== HERO ===== */
.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--the-third-text-color);
}
/* ===== END HERO ===== */

/* ===== ABOUT US ===== */
.about {
  background-color: var(--main-background-color);
}

.about-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-idea {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* ===== END ABOUT US ===== */

/* ===== WHAT ARE WE DOING ===== */
.works {
  background-color: var(--main-background-color);
}

.works .title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--primary-text-color);
}
/* ===== END WHAT ARE WE DOING ===== */

/* ===== OUR TEAM ===== */
.team {
  background-color: var(--the-third-background-color);
}

.team .title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--primary-text-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
/* ===== END OUR TEAM ===== */

/* ===== FOOTER ===== */
.footer {
  background-color: var(--secondary-background-color);
}

.footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer .link.map {
  color: var(--the-third-text-color);
}
/* ===== END FOOTER ===== */

/* ===== PORTFOLIO ===== */
portfolio {
  background-color: var(--main-background-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}
/* ===== END PORTFOLIO ===== */
